* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.traffic-lights {
    text-align: center;
}

.light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px #000;
    display: inline-block;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.off {
    background-color: #fff;
}