* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-weight: bold;
}

span {
    font-weight: 300;
}

.hw1 {
    margin: 0 5vw;
    display: inline-flex;
    flex-direction: column;
    gap: 5vh;
    width: fit-content;
}

.user-profile {
    display: inline-block;
    width: fit-content;
}

.hw2-content {
    border: solid 1px black;
    padding: 10px;
}

img {
    width: 30vw;
    height: auto;
}

.hw2 {
    display: inline-flex;
    flex-direction: column;
    gap: 5vh;
    width: 30vw;
}